* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  background-color: #335474;
  background-image: linear-gradient(
    180deg,
    #335474 0%,
    #132c48 50%,
    #142d49 100%
  );
  display: flex;
  width: 100%;
  height: 20%;
}

.image {
  width: 30%;
  position: relative;
}

.image img {
  width: 100%;
  height: 125%;
  position: absolute;
  top: -2%;
  left: 5%;
}

.inf {
  width: 100%;
  padding: 2rem 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inf h3 {
  margin-bottom: 10px;
}

.icon-area {
  display: flex;
  gap: 20px;
  font-size: 30px;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  margin-bottom: 0 !important;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-1 {
  background-color: #3ed7fd;
  background-image: linear-gradient(
    180deg,
    #3ed7fd 0%,
    #3ea2fd 50%,
    #3ea2fd 100%
  );
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 1px 1px 5px 1px #3ed7fd;
}

.btn-2 {
  background-color: #335474;
  background-image: linear-gradient(
    180deg,
    #335474 0%,
    #132c48 50%,
    #142d49 100%
  );
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 1px 1px 5px 1px #335474;
}

.btn-3 {
  background-color: white;
  border-radius: 20px;
  padding: 10px 40px;
  color: black;
  box-shadow: 1px 1px 5px 1px #9ea5ac;
}

@media (max-width: 855px) {
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: -6%;
    top: -2%;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-area {
    color: black;
    display: flex;
    gap: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
  }

  .info {
    position: relative;
    opacity: 0.9;
  }

  .btn-1,
  .btn-2,
  .btn-3 {
    padding: 3px 15px;
  }

  .btn-1:hover,
  .btn-2:hover,
  .btn-3:hover {
    transform: scale(1.1);
  }

  .info p {
    color: black;
  }

  .icon-area {
    color: black;
    display: flex;
    gap: 20px;
    font-size: 30px;
  }
}

.projects {
  margin: 1rem 1rem;
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: 3fr 4fr 4fr;
  grid-template-areas:
    "project-card  project-icon-main project-icon-main"
    "project-card  bottom1 bottom1";
  gap: 1rem;
}

.project-card {
  margin-top: 3.9rem;
  margin-left: 1rem;
  grid-area: project-card;
  max-height: 500px;
  box-shadow: 1px 1px 5px 1px #9ea5ac;
}

.project-card img {
  width: 100%;
  height: 50%;
  border-radius: 6px 6px 0 0;
}

.project-card h5 {
  padding: 10px;
  font-size: 1.5rem;
  color: #142d49;
  text-align: center;
}

.project-card p {
  padding: 10px;
  color: #142d49;
  text-align: center;
}

.project-card .btn2 {
  padding: 5px 40px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  background-color: #1e429f;
  color: white;
}

.project-icon-main {
  grid-area: project-icon-main;
}

.card {
  background-color: #335474 !important;
  background-image: linear-gradient(
    180deg,
    #335474 0%,
    #132c48 50%,
    #142d49 100%
  ) !important;
  padding: 10px 0 0 0 !important;
}

.card-text {
  background-color: white;
}

.card a {
  display: none;
}

.bottom1 {
  display: flex;
  grid-area: bottom1;
  justify-content: space-evenly;
  gap: 10px;
}

.Comment {
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
}

.comment::-webkit-scrollbar {
  display: none;
}

.Comment {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.texting {
  margin-left: 50px;
}

.texting p {
  word-wrap: break-word; /* Breaks long words to prevent horizontal scrolling /
  white-space: normal; / Allows the text to wrap to the next line /
  max-width: 100%; / Ensures the text does not exceed its container width */
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: grey;
}

.star:hover {
  color: gold;
}

.star.selected {
  color: gold;
}

.about {
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
}

.about-box {
  box-shadow: 1px 1px 5px 1px #9ea5ac;
}

.baslik {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
}

.baslik1 {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 2rem;
  padding-top: 4rem;
}

.baslik1 h1 {
  padding: 0 50px;
  border-bottom: 2px solid #142d49;
}

.baslik2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 4rem;
}

.baslik2 h1 {
  padding: 0 50px;
  border-bottom: 2px solid #142d49;
}

.gtco-testimonials {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}

.gtco-testimonials .owl-nav {
  display: none;
}

.gtco-testimonials .owl-dots {
  text-align: center;
}

.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}

.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}

.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}

.gtco-testimonials .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}

.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}

.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}

.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}

.gtco-testimonials .owl-item {
  opacity: 1;
}

.gtco-testimonials .center h5 {
  font-size: 24px;
}

.gtco-testimonials .center h5 span {
  font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}

.owl-carousel .owl-nav button {
  outline: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}

.owl-carousel button.owl-dot {
  outline: 0;
}

@media (max-width: 545px) {
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: -6%;
    top: -2%;
  }

  .info {
    position: relative;
    opacity: 0.9;
  }

  .btn-1,
  .btn-2,
  .btn-3 {
    padding: 3px 5px;
  }

  .btn-1:hover,
  .btn-2:hover,
  .btn-3:hover {
    transform: scale(1.1);
  }

  .info p {
    color: black;
  }

  .icon-area {
    color: black;
    font-size: 20px;
    gap: 15px;
  }
}

.osman {
  border-radius: 100%;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: grey;
}

.star:hover {
  color: gold;
}

.star.selected {
  color: gold;
}

.post-btn {
  background-color: #01b0f8;
  color: white;
  border: 3px solid #01b0f8;
  padding: 5px 8px;
  border-radius: 50px;
}

/*! Responsive  */
@media (min-width: 800px) and (max-width: 1400px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "project-card"
      "project-icon-main"
      "bottom1";
    justify-content: center;
    align-items: center;
  }

  .project-icon-main {
    width: 100%;
    margin-left: 15px;
  }

  .bottom1 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .project-card {
    padding: 1rem 1rem;
  }

  .baslik {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "project-card"
      "project-icon-main"
      "bottom1";
    justify-content: center;
    align-items: center;
  }

  .project-icon-main {
    width: 100%;
    margin-left: 15px;
  }
  .bottom1 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .project-card {
    padding: 1rem 1rem;
  }

  .baslik {
    display: none;
  }
}

@media (max-width: 767px) {
  .about img {
    width: 200px !important;
    height: 12.5rem !important;
  }
}
